<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="loginUrl" value="http://s1.travian.si/login.php"/>
		<add key="resourcesUrl" value="http://s1.travian.si/dorf1.php"/>
		<add key="resourcesBuildUrl" value="http://s1.travian.si/build.php"/>
		<add key="buildingsUrl" value="http://s1.travian.si/dorf2.php"/>
		<add key="sendUnitsUrl" value="http://s1.travian.si/a2b.php"/>
		<add key="loginUsername" value="test"/>
		<add key="loginPassword" value="test"/>
		<add key="fileAttacks" value="C:\\attacks.txt"/>
		<add key="fileDistribution" value="c:\\distribution.txt"/>
		<add key="fileResources" value="c:\\resources.txt"/>
		<add key="fileBuildings" value="c:\\buildings.txt"/>
		<add key="fileCheckAttacks" value="c:\\CheckAttacks.txt"/>
		<add key="fileContinuedAttacks" value="c:\\ContinuedAttacks.txt"/>
		<add key="fileTempAttacks" value="c:\\fileTempAttacks.txt"/>
		<add key="fileTrainTroops" value="c:\\fileTrainTroops.txt"/>

		<add key="enableAttacks" value="false"/>
		<add key="enableDistribution" value="false"/>
		<add key="enableResources" value="false"/>
		<add key="enableBuildings" value="false"/>
		<add key="enableCheckAttacks" value="false"/>
		<add key="enableContinuedAttacks" value="true"/>
		<add key="enableTrainTroops" value="true"/>

		<add key="enableAutoBuildResources" value="false"/>

		<!--
		0 - Teutons
		1 - Gauls
		2 - Romans
		<add key="troopList" value="Gorjačarjev,Suličarjev,Metalcev sekir,Skavtov,Paladinov,Tevtonskih vitezov,Oblegovalnih ovnov,Mangonelov,Vodij,Kolonistov"/>
		-->
		<add key="buildingRace" value="1"/>

		<add key="troopList" value="Falang,Mečevalcev,Stezosledcev,Theutatesovih Strel,Druidov,Haeduanov,Oblegovalnih ovnov,Trebušejev,Poglavarja,Kolonistov"/>

	</appSettings>	
</configuration>