<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="loginUrl" value="http://s1.travian.si/login.php"/>
		<add key="resourcesUrl" value="http://s1.travian.si/dorf1.php"/>
		<add key="resourcesBuildUrl" value="http://s1.travian.si/build.php"/>
		<add key="buildingsUrl" value="http://s1.travian.si/dorf2.php"/>
		<add key="sendUnitsUrl" value="http://s1.travian.si/a2b.php"/>
		<add key="loginUsername" value="test"/>
		<add key="loginPassword" value="test"/>
		<add key="fileAttacks" value="C:\\attacks.txt"/>
		<add key="fileDistribution" value="c:\\distribution.txt"/>
		<add key="fileResources" value="c:\\resources.txt"/>
		<add key="fileBuildings" value="c:\\buildings.txt"/>
		<add key="fileCheckAttacks" value="c:\\fileCheckAttacks.txt"/>
		
		<add key="enableAttacks" value="true"/>
		<add key="enableDistribution" value="true"/>
		<add key="enableResources" value="false"/>
		<add key="enableBuildings" value="true"/>
		<add key="enableCheckAttacks" value="true"/>
		
		<add key="enableAutoBuildResources" value="false"/>

	</appSettings>	
</configuration>