<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileNameDebug" value=".jeza.ioFTPD.Debug" />
    <add key="FileNameRace" value=".jeza.ioFTPD.Race" />
    <add key="FileNameIoFtpdMessage" value=".ioFTPD.Message" />
    <add key="FileNameInternalLog" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.log" />
    <add key="FileExtensionCrc32Failed" value=".bad" />
    <add key="FileExtensionMissing" value=".missing" />
    <add key="FileExtensionSfv" value=".sfv" />
    <add key="FileExtensionMp3" value=".mp3" />
    <add key="FileExtensionFlac" value=".flac" />
    <add key="FileExtensionZip" value=".zip" />
    <add key="FileExtensionNfo" value=".nfo" />
    <add key="FileExtensionDiz" value=".diz" />
    <add key="SkipPath" value="/_HDD/ /private/ /groups/ /nocheck/ /request/nocheck/ /fonts/" />
    <add key="SkipFileExtension" value="jpg,jpeg,cue,txt,tcl,itcl,ini,cfg,m3u,avi,mpg,mpeg,vob" />
    <add key="DeleteCrc32FailedFiles" value="true" />
    <add key="ExtractNfoFromZip" value="true" />
    <add key="WriteStatsToMesasageFileWhenRace" value="true" />
    <add key="WriteStatsToMesasageFileWhenComplete" value="true" />
    <add key="MaxNumberOfUserStats" value="30" />
    <add key="MaxNumberOfGroupStats" value="30" />
    <add key="LogToIoFtpdSfv" value="true" />
    <add key="LogToIoFtpdUpdate" value="true" />
    <add key="LogToIoFtpdUpdateMp3" value="true" />
    <add key="LogToIoFtpdRace" value="true" />
    <add key="LogToIoFtpdHalfway" value="true" />
    <add key="LogToIoFtpdLeadUser" value="true" />
    <add key="LogToIoFtpdLeadGroup" value="true" />
    <add key="LogToIoFtpdComplete" value="true" />
    <add key="LogToIoFtpdUserStatsHead" value="true" />
    <add key="LogToIoFtpdUserStatsBody" value="true" />
    <add key="LogToIoFtpdGroupStatsHead" value="true" />
    <add key="LogToIoFtpdGroupStatsBody" value="true" />
    <add key="LogToIoFtpdUserStatsBodyMaxNumber" value="3" />
    <add key="LogToIoFtpdGroupStatsBodyMaxNumber" value="1" />
    <add key="LogToIoFtpdHalfwayMinFiles" value="10" />
    <add key="LogToInternalSfv" value="true" />
    <add key="LogToInternalUpdate" value="true" />
    <add key="LogToInternalUpdateMp3" value="true" />
    <add key="LogToInternalRace" value="true" />
    <add key="LogToInternalHalfway" value="true" />
    <add key="LogToInternalLeadUser" value="true" />
    <add key="LogToInternalLeadGroup" value="true" />
    <add key="LogToInternalComplete" value="true" />
    <add key="LogToInternalUserStatsHead" value="true" />
    <add key="LogToInternalUserStatsBody" value="true" />
    <add key="LogToInternalGroupStatsHead" value="true" />
    <add key="LogToInternalGroupStatsBody" value="true" />
    <add key="LogToInternalUserStatsBodyMaxNumber" value="3" />
    <add key="LogToInternalGroupStatsBodyMaxNumber" value="1" />
    <add key="LogToInternalHalfwayMinFiles" value="10" />
    <!--
    The format used for output of autoformated bytes uploaded.
    {0}{1} : 123MB
    {0} {1}: 123 MB
    {0}_{1}: 123_MB
    -->
    <add key="FormatedBytes" value="{0}{1}" />
    <!--
    Rescan
    -->
    <add key="ClientCrc32Head" value=" Expected Actual   Status   FileName " />
    <add key="ClientCrc32Body" value=" {1,-8} {2,-8} {3,-8} {0,-60:B60}" />
    <add key="ClientCrc32Foot" value="{8}TotalFiles...: {4}{8}MissingFiles.: {5}{8}OkFiles......: {6}{8}FailedFiles..: {7}" />
    <add key="ClientHead" value=",----------=[ ZipScript by Jeza ]=-----------------------------------------------------------," />
    <add key="ClientFileName" value="| File.....: {0,-80:B79}|" />
    <add key="ClientFileNameOk" value="| File OK..: {0,-80:B79}|" />
    <add key="ClientFileNameSkip" value="| Skip.....: {0,-80:B79}|" />
    <add key="ClientFileNameBadCrc" value="| Bad CRC..: {0,-80:B79}|" />
    <add key="ClientFileNameNoDiz" value="| No DIZ...: {0,-80:B79}|" />
    <add key="ClientFileNameSfv" value="| SFV......: {0,-80:B79}|" />
    <add key="ClientFileNameSfvExists" value="| Deleting.: SFV allready exists!                                                            |" />
    <add key="ClientFileNameSfvFirst" value="| Deleting.: Upload SFV first!                                                               |" />
    <add key="ClientMp3InfoHead" value="|----------=[ Mp3 Info          ]=-----------------------------------------------------------|" />
    <add key="ClientMp3Info" value="| Track....: {25,-80:B79}|{19}| Title....: {22,-80:B79}|{19}| Artist...: {20,-80:B79}|{19}| Album....: {21,-80:B79}|{19}| Year.....: {24,-80:B79}|{19}| Genre....: {23,-80:B79}|" />
    <add key="ClientStatsUsersHead" value="|----------=[ User Stats        ]=-----------------------------------------------------------|" />
    <add key="ClientStatsUsers" value="| {0,10:B2}. {1,-23:B23} {2,6:B6} {3,6:B6}kBit/s {4,4:B4}F                              |¤Possition UserName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="ClientStatsGroupsHead" value="|----------=[ Group Stats       ]=-----------------------------------------------------------|" />
    <add key="ClientStatsGroups" value="| {0,10:B2}. {1,-23:B23} {2,6:B6} {3,6:B6}kBit/s {4,4:B4}F                              |¤Possition GroupName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="ClientFoot" value="'---------------------------------------------------------------------=[ {6,3:B3}/{5,-3:B3} ]=----------'" />
    <add key="ClientFootProgressBar" value="'----------=[ {14,17:B17} ]=------------------------------------=[ {6,3:B3}/{5,-3:B3} ]=----------'" />
    <add key="MessageMp3InfoHead" value="|----------=[ Mp3 Info          ]=-----------------------------------------------------------|" />
    <add key="MessageMp3Info" value="| Artist...: {20,-80:B79}|{19}| Album....: {21,-80:B79}|{19}| Year.....: {24,-80:B79}|{19}| Genre....: {23,-80:B79}|" />
    <add key="MessageStatsUsersHead" value="|----------=[ User Stats        ]=-----------------------------------------------------------|" />
    <add key="MessageStatsUsers" value="| {0,10:B2}. {1,-23:B23} {2,6:B6} {3,6:B6}kBit/s {4,4:B4}F                              |¤Possition UserName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="MessageStatsGroupsHead" value="|----------=[ Group Stats       ]=-----------------------------------------------------------|" />
    <add key="MessageStatsGroups" value="| {0,10:B2}. {1,-23:B23} {2,6:B6} {3,6:B6}kBit/s {4,4:B4}F                              |¤Possition GroupName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="MessageFoot" value="'---------------------------------------------------------------------=[ {6,3:B3}/{5,-3:B3} ]=----------'" />
    <add key="LogLineIoFtpdSfv" value="SFV: &quot;{4}&quot; &quot;{16}03{17}sfv{17}{16} {17}{1}{17} [{17}{5}{17}F]&quot;" />
    <add key="LogLineIoFtpdUpdate" value="UPDATE: &quot;{4}&quot; &quot;{16}04{17}info{17}{16} {17}{1}{17} [{17}{10}{17} in {17}{5}F{17}]&quot;" />
    <add key="LogLineIoFtpdUpdateMp3" value="UPDATE: &quot;{4}&quot; &quot;{16}04{17}info{17}{16} {17}{1}{17} [{17}{10}{17} in {17}{5}F{17} @ {17}{18}{23}{18}{17} {17}{24}{17}]&quot;" />
    <add key="LogLineIoFtpdHalfway" value="HALFWAY: &quot;{4}&quot; &quot;{16}04{17}halfway{17}{16} {17}{1}{17} [{17}{13}{17}Groups / {17}{12}{17}Users @ {17}{11}kBps{17}]&quot;" />
    <add key="LogLineIoFtpdRace" value="RACE: &quot;{4}&quot; &quot;{16}04{17}race{17}{16} {17}{1}{17} [{17}{2}{17}/{3} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineIoFtpdLeadUser" value="LEADER: &quot;{4}&quot; &quot;{16}04{17}leader{17}{16} {17}{1}{17} [{17}{2}{17}/{3} with {9} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineIoFtpdLeadGroup" value="LEADER: &quot;{4}&quot; &quot;{16}04{17}leader{17}{16} {17}{1}{17} [{17}{3}{17} with {9} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineIoFtpdComplete" value="COMPLETE: &quot;{4}&quot; &quot;{16}12{17}complete{17}{16} {17}{1}{17} [{17}{9}{17} in {17}{5}F{17} @ {17}{11}kBps{17}]&quot;" />
    <add key="LogLineIoFtpdUserStatsHead" value="STATS: &quot;{4}&quot; &quot;User Stats:&quot;" />
    <add key="LogLineIoFtpdUserStatsBody" value="STATS: &quot;{4}&quot; &quot;{1,2:B2}. {2,-14:B14} {3,6:B6} {4,6:B6}kBit/s {5,4:B4}F&quot;¤UploadVirtualPath Possition UserName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="LogLineIoFtpdGroupStatsHead" value="STATS: &quot;{4}&quot; &quot;Group Stats:&quot;" />
    <add key="LogLineIoFtpdGroupStatsBody" value="STATS: &quot;{4}&quot; &quot;{1,2:B2}. {2,-14:B14} {3,6:B6} {4,6:B6}kBit/s {5,4:B4}F&quot;¤UploadVirtualPath Possition GroupName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="LogLineInternalSfv" value="SFV: &quot;{4}&quot; &quot;{16}03{17}sfv{17}{16} {17}{1}{17} [{17}{5}{17}F]&quot;" />
    <add key="LogLineInternalUpdate" value="UPDATE: &quot;{4}&quot; &quot;{16}04{17}info{17}{16} {17}{1}{17} [{17}{10}{17} in {17}{5}F{17}]&quot;" />
    <add key="LogLineInternalUpdateMp3" value="UPDATE: &quot;{4}&quot; &quot;{16}04{17}info{17}{16} {17}{1}{17} [{17}{10}{17} in {17}{5}F{17} @ {17}{18}{23}{18}{17} {17}{24}{17}]&quot;" />
    <add key="LogLineInternalHalfway" value="HALFWAY: &quot;{4}&quot; &quot;{16}04{17}halfway{17}{16} {17}{1}{17} [{17}{13}{17}Groups / {17}{12}{17}Users @ {17}{11}kBps{17}]&quot;" />
    <add key="LogLineInternalRace" value="RACE: &quot;{4}&quot; &quot;{16}04{17}race{17}{16} {17}{1}{17} [{17}{2}{17}/{3} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineInternalLeadUser" value="LEADER: &quot;{4}&quot; &quot;{16}04{17}leader{17}{16} {17}{1}{17} [{17}{2}{17}/{3} with {9} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineInternalLeadGroup" value="LEADER: &quot;{4}&quot; &quot;{16}04{17}leader{17}{16} {17}{1}{17} [{17}{3}{17} with {9} @ {17}{26}{17}kBps]&quot;" />
    <add key="LogLineInternalComplete" value="COMPLETE: &quot;{4}&quot; &quot;{16}12{17}complete{17}{16} {17}{1}{17} [{17}{9}{17} in {17}{5}F{17} @ {17}{11}kBps{17}]&quot;" />
    <add key="LogLineInternalUserStatsHead" value="STATS: &quot;{4}&quot; &quot;User Stats:&quot;" />
    <add key="LogLineInternalUserStatsBody" value="STATS: &quot;{0}&quot; &quot;{1,2:B2}. {2,-14:B14} {3,6:B6} {4,6:B6}kBit/s {5,4:B4}F&quot;¤UploadVirtualPath Possition UserName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="LogLineInternalGroupStatsHead" value="STATS: &quot;{4}&quot; &quot;Group Stats:&quot;" />
    <add key="LogLineInternalGroupStatsBody" value="STATS: &quot;{0}&quot; &quot;{1,2:B2}. {2,-14:B14} {3,6:B6} {4,6:B6}kBit/s {5,4:B4}F&quot;¤UploadVirtualPath Possition GroupName FormatBytesUploaded AverageSpeed FilesUploaded" />
    <add key="ProgressBarLength" value="17" />
    <add key="ProgressBarCharFilled" value="#" />
    <add key="ProgressBarCharMissing" value="-" />
    <add key="Mp3SortPathArtist" value="c:\\sorted\\by.artist" />
    <add key="Mp3SortPathGenre" value="c:\\sorted\\by.genre" />
    <add key="Mp3SortPathYear" value="c:\\sorted\\by.year" />
    <!--
    The tag cannot contain the following characters : \ / : * ? " < > |
    -->
    <!-- delete all files that start with this string in race folder -->
    <add key="TagCleanUpString" value="]-[" />
    <add key="TagIncomplete" value="]-[iNCOMPLETE]-[ {15}% ]-[{6}FiLE(s) of {5}FiLE(s)]-[iNCOMPLETE]-[" />
    <add key="TagComplete" value="]-[Complete]-[{15}%]-[ {9} - {6}F]-[" />
    <add key="TagCompleteMp3" value="]-[Complete]-[{15}%]-[ {9} - {6}F]-[{23} - {24}]-[" />
    <add key="TagIncompleteLink" value="[iNCOMPLETE]-{1}" />
    <add key="TagIncompleteLinkDiscNumber" value="[iNCOMPLETE]-{1}_DISCNUMBER" />
    <add key="TagIncompleteLinkChMod" value="755" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>