<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>

    <appender name="ToDoList" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\ToDoList.log" />
      <param name="AppendToFile" value="true" />
      <param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="RollingStyle" value="Size" />
      <param name="MaxSizeRollBackups" value="30" />
      <param name="MaximumFileSize" value="5000KB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%5t] %-5p [%c:%L] - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="ToDoList" />
    </root>

  </log4net>

</configuration>