<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
	<configSections>
    </configSections>
    
	<connectionStrings>
        <add name="jcTBotGUI.Properties.Settings.jcTBotConnection" connectionString="Data Source=.;Initial Catalog=jcTBot;Persist Security Info=True;User ID=sa;Password=jungle"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	
	<appSettings>
		<add key="woodlandName" value="Gozdar"/>
		<add key="claypitName" value="Glinokop"/>
		<add key="ironmineName" value="Rudnik železa"/>
		<add key="croplandName" value="Žitno polje"/>
	</appSettings>
	
</configuration>