USE [jcTBot]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 09/08/2008 14:53:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[BuildingId] [nvarchar](50) NULL,
	[BuildingName] [nvarchar](50) NULL
) ON [PRIMARY]
