<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultCurrency" value="EUR"/>
    <add key="language" value="sl-SI"/>
    <add key="DataSource" value="Data Source=D:\\svn\\jezatools\\trunk\\jeza.Item.Tracker\\jeza.Item.Tracker.Tests\\bin\\Debug\\jeza.Item.Tracker.s3db"/>
  </appSettings>
</configuration>