a
{
}

body
{
	left: 1em;
}

input
{
	width:20em;
}

select
{
	width:20em;
}

table
{
	text-align: left;
}

/* Default.aspx */

#divDefaultHead
{
	position: absolute;
	left: 11em;
}

#divDefaultHead a
{
	padding-left:1em;
}

#divDefaultNavigation
{
	position: absolute;
	top: 2em;
	left: 1em;
	width: 10em;
}

#divDefaultNavigation a 
{
	display: block;
}

#divDefaultBody 
{
	position: absolute;
	top: 2em;
	margin-left: 10.5em;
}

/* Login.aspx */

/* ManageItems.aspx */

#divManageItems span
{
	width:10em;
	float:left;
	text-align:right;
	padding-right:1em;
}

#divManageItemsBodyItemTypes
{
	padding-bottom:1em;
}

#divManageItemsBodyItemTypes a
{
	margin-left: 11em;
}

#divManageItemsBodyItemsSelect
{
	padding-bottom:1em;
}

#divManageItemsBodyItemsSelect a
{
	margin-left: 11em;
	display: block;
}

#divManageItemsBodyItemsSubmit
{
	padding-bottom:1em;
}

#divManageItemsBodyItemsSubmit a
{
	margin-left: 11em;
	display: block;
}

/* ManageShopItems.aspx */

#divManageShopItemsBodyInput
{
	padding-bottom:1em;
}

#divManageShopItemsBodyInput a
{
	margin-left: 11em;
	display: block;
}

#divManageShopItemsBodyInput span
{
	width:10em;
	float:left;
	text-align:right;
	padding-right:1em;
}

#divManageShopItemsBodyTrackersList
{
	margin-left: 11em;
}

#divManageShopItemsBodyTrackersInput
{
	padding-bottom:1em;
}

#divManageShopItemsBodyTrackersInput a
{
	margin-left: 11em;
	display: block;
}

#divManageShopItemsBodyTrackersInput span
{
	width:10em;
	float:left;
	text-align:right;
	padding-right:1em;
}

.divManageShopItemsBodyTrackersListStats
{
	margin-left: 11em;
}
	
.divManageShopItemsBodyTrackersListStatsSpan
{
}

.divManageShopItemsBodyTrackersListStatsSpanNumber
{
}

#divManageShopItemsBodyList
{
	position: absolute;
	top: 2em;
	margin-left: 31em;
}

/* ManageShops.aspx */

#divManageShops span
{
	width:10em;
	float:left;
	text-align:right;
	padding-right:1em;
}

#divManageShopsList
{
	padding-bottom:1em;
}

#divManageShopsList a
{
	margin-left: 11em;
	display: block;
}

#divManageShopsInput
{
	padding-bottom:1em;
}

#divManageShopsInput a
{
	margin-left: 11em;
	display: block;
}

/* ManageUsers.aspx */

#divManageUsersBodyInput span
{
	width:10em;
	float:left;
	text-align:right;
	padding-right:1em;
}

