<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="alinceIdExcludedList" value="2092,2614,1137,355,407,2133,1467,2355,89,187"/>
	</appSettings>
</configuration>

<!--
TOP			http://s6.travian.si/allianz.php?aid=2092
TOP2		http://s6.travian.si/allianz.php?aid=2614
KSF2		http://s6.travian.si/allianz.php?aid=1137
KSF			http://s6.travian.si/allianz.php?aid=355
KSF3		http://s6.travian.si/allianz.php?aid=407
NF NP		http://s6.travian.si/allianz.php?aid=2133
PAX FOR		http://s6.travian.si/allianz.php?aid=1467
PAX FOR2	http://s6.travian.si/allianz.php?aid=2355
PAX	PKW		http://s6.travian.si/allianz.php?aid=89
PAX .PKW	http://s6.travian.si/allianz.php?aid=187
-->