<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="jcTBotGUI.Properties.Settings.jcTBotConnection" connectionString="Data Source=.;Initial Catalog=jcTBot;Persist Security Info=True;User ID=sa;Password=jungle"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>