<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- default trial time in days -->
    <add key="TrialDefaultTime" value="7"/>
    <!-- default trial quota in MB -->
    <add key="TrialDefaultQuota" value="5000"/>
    <!-- flag that will be added to user if he fails trial -->
    <add key="TrialFailedFlag" value="6"/>

    <!-- Message to client if user that should be added to trial was not found -->
    <add key="ClientTrialUserNotFound" value="User '{0}' was not found!"/>
    <!-- Message to client if user is allready on trial -->
    <add key="ClientTrialUserExists" value="User is allready on TRiAL!"/>
    <!-- Message to client when user was removed from trial -->
    <add key="ClientTrialUserRemove" value="User removed from TRiAL!"/>
    <!-- Message to client when failed to remove user from trial -->
    <add key="ClientTrialUserRemoveFail" value="Failed to remove user '{0}' from TRiAL!"/>
    <!-- Message to client when user was added to trial -->
    <add key="ClientTrialUserAdd" value="User was added to TRiAL!"/>

    <add key="ClientTrialListHead" value="--------------------------------------------------------"/>
    <add key="ClientTrialListBody" value=" {1}/{2} has {8} days to pass {10}/{6}MB"/>
    <add key="ClientTrialListFoot" value="--------------------------------------------------------"/>


  </appSettings>
</configuration>