<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileNameDebug" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.Manager.Debug"/>
    <add key="FileNameConfiguration" value="managerConfiguration.xml"/>

    <add key="ClientWeeklyList" value="{2} {4} [{7}]"/>
  </appSettings>
</configuration>
