<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <language id="sl-SI">
    <reports>
      <rowAttackerTroops>Enote</rowAttackerTroops>
      <rowAttackerCasualties>Žrtve</rowAttackerCasualties>
      <rowAttackerPrisoners>Ujetniki</rowAttackerPrisoners>
      <rowAttackerInformation>Informacija</rowAttackerInformation>
      <rowAttackerBounty>Plen</rowAttackerBounty>
      <rowDefenderTroops>Enote</rowDefenderTroops>
      <rowDefenderCasualties>Žrtve</rowDefenderCasualties>
      <nameOfCurrentDay>danes</nameOfCurrentDay>
      <nameOfPreviousDay>včeraj</nameOfPreviousDay>
    </reports>
  </language>
  <language id="en-EN">
    <reports>
      <rowAttackerTroops>Troops</rowAttackerTroops>
      <rowAttackerCasualties>Casualties</rowAttackerCasualties>
      <rowAttackerPrisoners>Prisoners</rowAttackerPrisoners>
      <rowAttackerInformation>Information</rowAttackerInformation>
      <rowAttackerBounty>Bounty</rowAttackerBounty>
      <rowDefenderTroops>Troops</rowDefenderTroops>
      <rowDefenderCasualties>Casualties</rowDefenderCasualties>
      <nameOfCurrentDay>today</nameOfCurrentDay>
      <nameOfPreviousDay>yesterday</nameOfPreviousDay>
    </reports>
  </language>
</settings>