<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserWithDefaultUid" value="ioFTPD" />
		<add key="LocationOfUserFiles" value="C:\\server\\ioFTPD\\users\\" />
		<add key="LocationOfUserTable" value="C:\\server\\ioFTPD\\etc\\UserIdTable" />
		<add key="NewLocationOfUserFiles" value="C:\\server\\ioFTPD\\users\\new\\" />
		<add key="NewLocationOfUserTable" value="C:\\server\\ioFTPD\\etc\\UserIdTable.new" />
	</appSettings>
</configuration>
