<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="defaultCurrency" value="EUR"/>
    <add key="language" value="sl-SI"/>
    <!--Data Source=jeza.Item.Tracker.s3db-->
    <add key="DataSource" value="Data Source=jeza.Item.Tracker.s3db"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="info" xsi:type="File" layout="${longdate} ${level} ${logger} :: ${message}" fileName="jeza.Item.Tracker.log" />
      <target name="all" xsi:type="File" layout="${longdate} ${level} ${logger} :: ${message}" fileName="jeza.Item.Tracker.Details.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="all" />
      <logger name="*" minlevel="Info" writeTo="info" />
    </rules>
  </nlog>

</configuration>
