<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <appSettings>
    <add key="defaultCurrency" value="EUR"/>
    <add key="language" value="sl-SI"/>
    <add key="DataSource" value="jeza.Item.Tracker.s3db"/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="file" xsi:type="File" fileName="jeza.Item.Tracker.txt" />
    </targets>
    <rules>
      <logger name="*" writeTo="file" />
    </rules>
  </nlog>

</configuration>
