<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
		<!-- Dont Forget '/' At The End In serverName -->
		<add key="urlServerName" value="http://s2.travian.si/"/>
		<add key="urlLoginPage" value="http://s2.travian.si/login.php"/>
		<add key="urlResources" value="http://s2.travian.si/dorf1.php"/>
		<add key="urlTown" value="http://s2.travian.si/dorf2.php"/>
		<add key="urlLand" value="http://s2.travian.si/build.php?id={0}"/>
		<add key="userName" value="test"/>
		<add key="password" value="test"/>

		<add key="neededResourcesSearchString" value="Trenutna proizvodnja:"/>
		

		<!-- <td>Les:</td><td align="right"><b>88&nbsp;</b></td><td>na uro</td> -->
		<!-- Its HardCoded ATM :) -->
		<add key="woodNameForProductionPerHour" value="Les:"/>
		<add key="clayNameForProductionPerHour" value="Glina:"/>
		<add key="ironNameForProductionPerHour" value="Železo:"/>
		<add key="cropNameForProductionPerHour" value="Žito:"/>

	</appSettings>
</configuration>
