<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<add key="serverName" value="http://s4.travian.si/"/>
		<add key="loginUserName" value="jeza"/>
		<add key="loginPassword" value="kepek"/>
		
		<add key="fileBuildTasks" value="tasks.txt"/>
		<add key="fileExtensionForAttacks" value=".attacks"/>

		<add key="woodlandName" value="Gozdar"/>
		<add key="claypitName" value="Glinokop"/>
		<add key="ironmineName" value="Rudnik železa"/>
		<add key="croplandName" value="Žitno polje"/>
		<add key="emptyLandName" value="zazidljiva parcela"/>
		<add key="emptyCityWall" value="zunanje gradbišče"/>
		<add key="emptyRallyPoint" value="območje za zbirališče"/>
		<add key="emptyBuilding" value="Postavi nov objekt"/>
		
	</appSettings>

</configuration>