<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--
    <add name="Coordinator"
         connectionString="Data Source=.;Initial Catalog=Coordinator;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="Coordinator"
         connectionString="Data Source=193.95.219.228;Initial Catalog=Coordinator;Persist Security Info=True;User ID=sa;Password=pimpek"
         providerName="System.Data.SqlClient"/>
    -->
    <add name="Coordinator"
         connectionString="Data Source=193.95.219.228;Initial Catalog=Coordinator;Persist Security Info=True;User ID=sa;Password=pimpek"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>