<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileNameDebug" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.Archive.Debug"/>
    <add key="FileNameConfiguration" value="archiveConfiguration.xml"/>
    <add key="LogToConsole" value="true"/>
  </appSettings>
</configuration>
