<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FileNameDebug" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.Manager.Debug"/>
    <add key="FileNameConfiguration" value="managerConfiguration.xml"/>

    <add key="ClientWeeklyList" value="{2} {4} [{7}]"/>

    <add key="RequestFolder" value="E:\\requests"/>
    <add key="RequestPrefix" value="[REQ]-"/>
    <add key="RequestFilled" value="[FILLED]-"/>
    <add key="ClientRequestHead" value=" [Date      ] Name                                                         Added By{3} -----------------------------------------------------------------------------------------------"/>
    <add key="ClientRequestBody" value=" [{1,-10}] {0,-60} {2}"/>
    <add key="ClientRequestFoot" value=" -----------------------------------------------------------------------------------------------"/>

    <add key="ClientDupeNewDir" value="This dir looks like a dupe! It was uploaded by '{1}' @ '{3}'"/>
    
  </appSettings>
</configuration>
