<?xml version="1.0"?>
<configuration>

  <appSettings>
    
    <add key="FileNameDebug" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.Manager.Debug"/>  <!-- full path to the file with debu info -->
    <add key="FileNameInternalLog" value="e:\\server\\ioFTPD\\logs\\jeza.ioFTPD.log" /> <!-- full path to the file for internal logging -->
    <add key="FileNameConfiguration" value="managerConfiguration.xml"/> <!-- file name wit configuration -->

    <add key="ClientWeeklyList" value="{2} {4} [{7}]"/>

    <add key="RequestFolder" value="E:\\requests"/>
    <add key="RequestFileMessage" value="E:\\requests\\.ioFTPD.Message"/>
    <add key="RequestPrefix" value="[REQ]-"/>
    <add key="RequestFilled" value="[FILLED]-"/>
    <add key="ClientRequestHead" value=" [Date      ] Name                                                         Added By{3} -----------------------------------------------------------------------------------------------"/>
    <add key="ClientRequestBody" value=" [{1,-10}] {0,-60} {2}"/>
    <add key="ClientRequestFoot" value=" -----------------------------------------------------------------------------------------------"/>
    
    <add key="LogToIoFtpdRequest" value="true" />
    <add key="LogToIoFtpdRequestFilled" value="true" />
    <add key="LogToIoFtpdRequestDeleted" value="true" />
    <add key="LogToInternalRequest" value="false" />
    <add key="LogToInternalRequestFilled" value="false" />
    <add key="LogToInternalRequestDeleted" value="false" />

    <add key="LogLineIoFtpdRequest" value="REQUEST: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />
    <add key="LogLineIoFtpdRequestFilled" value="REQFILLED: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />
    <add key="LogLineIoFtpdRequestDeleted" value="REQDEL: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />
    <add key="LogLineInternalRequest" value="REQUEST: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />
    <add key="LogLineInternalRequestFilled" value="REQFILLED: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />
    <add key="LogLineInternalRequestDeleted" value="REQDEL: &quot;{2}&quot; &quot;{4}&quot; &quot;{0}&quot;" />

    <add key="DataSourceDupe" value="Data Source=e:\\server\\ioFTPD\\scripts\\jeza.ioFTPD.Manager\\jeza.ioFTPD.Dupe.s3db"/>
    <add key="ClientDupeNewDir" value=" This dir looks like a dupe! It was uploaded by '{1}' @ '{3}'"/>
    <add key="ClientDupeListHead" value="------------------------------------------------------------------------------"/>
    <add key="ClientDupeListBody" value=" {3} : '{5}'"/>
    <add key="ClientDupeListFoot" value="------------------------------------------------------------------------------"/>
    <add key="ClientDupeRemove" value=" '{0}' was removed from DUPE DB!"/>
    <add key="ClientDupeRemoveNotFound" value=" '{0}' not found in DUPE DB!"/>

    <add key="LogToIoFtpdDupe" value="true" />
    <add key="LogToInternalDupe" value="false" />

    <add key="LogLineIoFtpdDupe" value="DUPE: &quot;{5}&quot; &quot;{12}04{13}dupe{13}{12} {13}{6}{13} by {13}{1}/{2}{13}&quot;" />
    <add key="LogLineInternalDupe" value="DUPE: &quot;{5}&quot; &quot;{12}04{13}dupe{13}{12} {13}{6}{13} by {13}{1}/{2}{13}&quot;" />

  </appSettings>
  
  <!-- STOP HERE -->
  
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.76.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </DbProviderFactories>
  </system.data>

</configuration>
