<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<connectionStrings>
		<add name="TravianBotConnection" connectionString="Data Source=.;Initial Catalog=TravianBot;Persist Security Info=True;User ID=sa;Password=jungle"
            providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="woodlandName" value="Gozdar"/>
		<add key="claypitName" value="Glinokop"/>
		<add key="ironmineName" value="Rudnik železa"/>
		<add key="croplandName" value="Žitno polje"/>
		<add key="emptyLandName" value="zazidljiva parcela"/>
		<add key="emptyCityWall" value="zunanje gradbišče"/>
	</appSettings>

	<log4net>
		<appender name="tbConsole" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="tbConsole.log" />
			<param name="encoding" value="utf-8" />
			<param name="AppendToFile" value="true" />
			<param name="lockingModel" type="log4net.Appender.FileAppender+MinimalLock" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="10" />
			<param name="MaximumFileSize" value="5000KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%5t] %-5p [%c:%L] - %m%n" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="tbConsole" />
		</root>

		<!--
		log levels:	
			<level value="OFF" />
			<level value="DEBUG" />
			<level value="INFO" />
			<level value="WARN" />
			<level value="ERROR" />
			
		debug for log4net
		<add key="log4net.Internal.Debug" value="true"/>
		
		use the env(PATH) to log too
		<param name="File" value="${PATH}\\file.log" />
		-->

	</log4net>

</configuration>