body {
}

.labelStyle
{
	width:120px;
	float:right;
	text-align:right;
}

.textBoxStyle
{
	width:50px;
}

.textBoxNextFarm
{
	width:300px;
}

.date
{
	width:200px;
}

.pic
{
}

.ico
{
	width:20px;
}

.res
{
	width:60px;
}

.num
{
}

.table
{
	width:200px;
}