body {
}

.labelStyle
{
	width:120px;
	float:right;
	text-align:right;
}

.textBoxStyle
{
	width:100px;
}

.dropDownStyle
{
	width:120px;
}

.columnMiddle
{
	width:30px;
}

.date
{
	width:200px;
}

.pic
{
}

.ico
{
	width:20px;
}

.res
{
	width:60px;
}

.num
{
}

.table
{
	width:200px;
}